.body{
    background-color: #f5f5f5f5;
}
.aba2 li{
    list-style-type: none;
}
.logo3{
    
    display: flex;
    justify-content: center;
align-items: center;
margin-left: auto;
}
nav h1{
    font-size:  25pt;
    font-weight: bolder;
    display: flex;
    justify-content: center;
align-items: center;
margin-left: auto;


}
nav h2{
    font-size:  20pt;
    font-weight: bolder;
    display: flex;
    justify-content: center;
align-items: center;
margin-left: auto;
}
nav img{
    display: flex;
    justify-content: center;
align-items: center;
margin-left: auto;
margin-right: auto;
}
.menu3 ul li a{
    
        text-decoration: none;
        font-weight: bold;
        font-size: 1.2rem;
        color: #000;       
        border-radius: 5px;
        font: 25pt;
        
       
    
}

.menu3 li{
    list-style-type: none;
}




