.hide{
    display: none;
}
.modal{
    position: fixed;
    width: 70%;
    left: 15%;
    top: 2%;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: rgb(39, 36, 36);
    }
main .container .produtos {
    display: flex;
    flex-direction: column;
}
.produto {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
    transition: 0.3s ease;
}
.produto:hover{
background-color: #7c7171;
}


    

.form{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.form-contro{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, .3);
    background-color: #fff;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
}
.produto img {
    border-radius: 5px 5px 0px 0px;
    margin-bottom: 10px;
}

.produto h4 {
    padding: 0px 20px;
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 10px;
    font-weight: bolder;
   
    
}

.produto p {
    padding: 0px 20px;
    font-size: 1rem;
    text-align: center;
    font-weight: bolder;
}
.opa {
    color: #000;
}
.container{
    padding: 25px;
    margin: 25px 25px;
    justify-content: center;
    display: flex;
}
.botr{
    display: flex;
    justify-content: center;
align-items: center;
float: right;
    
    width: 4%;
    font-size: 20px;
    border-radius: 4px;
    color: #fff;
    height: 35px;
    margin-bottom: 20px;
    background: rgb(255, 0, 0);
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    border-right: 1px solid rgb(0, 0, 0);
}
#btnf{
    display: flex;
    justify-content: center;
align-items: center;
float: right;
    
    width: 20%;
    font-size: 20px;
    border-radius: 4px;
    color: #fff;
    height: 35px;
    margin-bottom: 20px;
    background: rgb(0, 255, 34);
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    border-right: 1px solid rgb(0, 0, 0);
}
.btnc{
    display: flex;
    justify-content: center;
align-items: center;
margin-left: auto;
    margin-right: auto; 
    width: 50%;
    font-size: 18px;
    border-radius: 4px;
    color: #fff;
    height: 40px;
    margin-bottom: 20px;
    background: rgb(0, 0, 0);
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    border-right: 1px solid rgb(0, 0, 0);
}
.btnc:hover{
background-color: rgb(90, 247, 0);
}
@media  (min-width: 800px) {
    main .container .produtos {
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        
    }
    main .container .produtos .produto {
        width: 300px;
    }

}

.container {
    width: 90vw;
    margin: 0px auto;
}
